*.pyc
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
*.ckpt
*.pt
*.safetensors
*.DS_Store
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
data/
self_refinement/
output/
*.png
*.jpg
*.jpeg
*.gif
*.bmp